<%= link_to "Revenir à l'accueil", root_path, class: 'btn btn-outline-warning btn-sm', style: 'margin-right: 10px' %>

<div class="row">
  <div class="d-flex justify-content-between align-items-center">
    <ul class="list-group" >
      <% @conversations.each do |conversation| %>
        <li class="list-group-item" data-conversation-id="<%= conversation.id %>">
        <%= conversation.recipient(current_user).first_name %> <%= conversation.recipient(current_user).last_name %>

          <%= link_to "voir plus", conversation_messages_path(conversation) %>
          <% if !conversation.unread_message_count(current_user).zero? %>

            <span class="badge"><%= conversation.unread_message_count(current_user) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
