<%= link_to "Revenir à l'accueil", root_path, class: 'btn btn-outline-warning btn-sm', style: 'margin-right: 10px' %>

<div class="row">
  <div class="col-md-5">
    <ul class="list-group" >
      <% @conversations.each do |conversation| %>
        <li class="list-group-item" data-conversation-id="<%= conversation.id %>">
        <%= conversation.recipient(current_user).first_name %> <%= conversation.recipient(current_user).last_name %>

          <%= link_to "voir plus", conversation_messages_path(conversation) %>
          <% if !conversation.unread_message_count(current_user).zero? %>

            <span class="badge"><%= conversation.unread_message_count(current_user) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <input id="search" placeholder="Rechercher un contact" class="form-control">
      <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>

    <table class="table table-lg table-noborder table-striped">
			<thead class="all-text-white bg-grad">
				<tr>
					<th scope="col">Contact</th>
				</tr>
			</thead>
		</table>

    <ul id="users" class="list-group">
      <% @users.each do |user| %>
        <table class="table table-lg table-noborder table-striped ">
          <li class="list-group-item" data-searchstring="<%= user.first_name %> <%= user.last_name %>">
            <%= user.first_name %> <%= user.last_name %>
            <%= link_to "Envoyer un message", conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %>
          </li>
        </table>
      <% end %>
    </ul>
  </div>
</div>
