<h1>Bienvenue sur l'interface de gestion des annonces</h1>
<br>
<h3>Les annonces actuellement en attente de validation sont :</h3>
<br>

<% Post.where(is_validates:nil).all.each do |post| %>

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <p class="card-text">ID de l'annonce : <%= post.id %></p>
    <p class="card-text">Titre de l'annonce : <%= post.title %>
    <p>Description : <%= post.description %></p>
    <p>Auteur : <%= post.user.first_name %><%= post.user.last_name %></p>
    <p>Catégorie : <%= post.description %></p>
		
	<p>Lien de l'image de présentation : <%= link_to product.url, product.url %></p>
  <p>Numéro de catégorie : <%= product.category_id %></p>
	<p>Ce produit a été commandé <%= product.orders.count %> fois.</p>

    <%= link_to "Modifier/supprimer cet produit", edit_admin_product_path(product.id) %>
  </div>
</div>

<br>
<br>

<% end %>

<h3>Les annonces actuellement validées sont :</h3>
<br>

<% Post.where(is_validates:true).all.each do |product| %>

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <p class="card-text">Product_id : <%= product.id %></p>
    <p class="card-text">Nom du produit : <%= product.name %>
    <p>Description : <%= product.description %></p>
  <p>Prix : <%= product.price %> euros</p>
  <p>Lien de l'image de présentation : <%= link_to product.url, product.url %></p>
  <p>Numéro de catégorie : <%= product.category_id %></p>
  <p>Ce produit a été commandé <%= product.orders.count %> fois.</p>

    <%= link_to "Modifier/supprimer cet produit", edit_admin_product_path(product.id) %>
  </div>
</div>

