<h1>Bienvenue sur l'interface de gestion des annonces</h1>
<br>
<div class="row">
<div class="col-md-6">
<h3>Les annonces actuellement en attente de validation sont :</h3>
<br>

<% Post.where(is_validates:nil).all.each do |post| %>

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <p class="card-text" style="color:yellow"><b>Annonce en attente</b></p>
    <p class="card-text">ID de l'annonce : <%= post.id %></p>
    <p class="card-text">Titre de l'annonce : <%= post.title %>
    <p>Description : <%= post.description %></p>
    <p>Auteur : <%=link_to "#{post.user.first_name} #{post.user.last_name}", edit_admin_user_path(post.user.id) %></p>
    <p>Catégorie : <%= post.description %></p>
		
  <p>Numéro de catégorie : <%= post.category_id %></p>

    <%= button_to "Rejeter cette annonce", admin_post_path(post.id), method: :delete %>
    <%= button_to "Valider cette annonce", admin_posts_path(post.id), :params => {:id => post.id}, method: :post %>
  </div>
</div>

<br>
<br>

<% end %>
</div>

<div class="col-md-6">

<h3>Les annonces actuellement validées sont :</h3>
<br>

<% Post.where(is_validates:true).all.each do |post| %>

<div class="card" style="width: 25rem;">
  <div class="card-body">    
    <p class="card-text" style="color:green"><b>Annonce validée</b></p>
    <p class="card-text">ID de l'annonce : <%= post.id %></p>
    <p class="card-text">Titre de l'annonce : <%= post.title %>
    <p>Description : <%= post.description %></p>
    <p>Auteur : <%= post.user.first_name %><%= post.user.last_name %></p>
    <p>Catégorie : <%= post.description %></p>

  <p>Numéro de catégorie : <%= post.category_id %></p>

    <%= link_to "Modifier/supprimer cette annonce", edit_admin_post_path(post.id) %>
  </div>
</div>

<br>
<br>

<% end %>
</div>

</div>
