<div class="form-control-lg text-center w-100">
    <div class="w-100 p-4" style="background-color: #eee;">
        <h2>Modifier votre annonce</h2>
    </div>

    <div class="w-100 p-4" style="background-color: #eee;">
        <%= form_for @post, :method => :patch do |f| %>
            <p>
                <%= f.label :title %><br>
                <%= f.text_field :title %>
            </p>
            <p>
                <%= f.label :ville %> <br>
                <%= f.text_field :city %>
            </p>
            <p>
                <form action="/posts" methode ="put">
                <label for="Categories">Choisir une categorie:</label><br>
                <select id="category" name="category_name">
                    <option value="Bricolage">Bricolage</option>
                    <option value="Jardinage">Jardinage</option>
                    <option value="Soutien scolaire">Soutien scolaire</option>
                    <option value="Garde d'enfants">Garde d'enfants</option>
                    <option value="Informatique/Bureautique">Informatique/Bureautique</option>
                    <option value="Animaux">Animaux</option>
                    <option value="Service à la personne">Service à la personne</option>
                    <option value="Dons de matériel">Dons de matériel</option>
                    <option value="Administratif">Administratif</option>
                </select>
            </p>
            <p>
                <%= f.label :description %><br>
                <%= f.text_area :description %>
            </p>
            <p>
                <div class="form-group">
                    <%= f.label :datetime %><br />
                    <%= f.date_field :datetime, autofocus: true, autocomplete: "datetime" %>
                </div>           
            </p>
            <p>
                <%= f.submit "Mettre à jour" %><br>
            </p>
        <% end %>
    </div>
</end>