<div class="form-control-lg text-center w-100">
    <div class="w-100 p-4" style="background-color: #eee;">
        <h2>Modifier votre annonce</h2>
    </div>

    <div class="w-100 p-4" style="background-color: #eee;">
    <div class="form mx-auto">
    <%= form_for @post do |form| %>
        <div class="field mb-3">
            <%= form.label :titre %> 
            <%= form.text_field :title %>
        </div>
        <div class="field">
            <%= form.label :Ville %>
            <%= form.collection_select :city_id, City.order(:city_name), :id, :city_name %>
        </div>
        <div class="field">
            <%= form.label :Categorie %>
            <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
        </div>
        <div class="field">
            <%= form.label :description %>
            <%= form.text_area :description %>
        </div>
        <div class="form-group mb-3">
            <%= form.label :datetime %> 
            <%= form.date_field :datetime, autofocus: true, autocomplete: "datetime" %>
        </div>                                 
        <div class="actions ml-4 mt-4">
            <%= form.submit "Poster", :class => "btn btn-primary"%>
        </div>
    <% end %>
</div>
    </div>
</end>
