<div class="form-control-lg text-center w-100">
    <div class="w-100 p-4" style="background-color: #eee;">
        <h2>Modifier votre annonce</h2>
    </div>

    <div class="w-100 p-4" style="background-color: #eee;">
        <%= form_for @post, :method => :patch do |f| %>
            <p>
            <%= f.label :titre %> <br>
            <%= f.text_field :title %>
        </p>
        <p>
            <%= f.label :ville %> <br>
            <%= f.collection_select :city_id, City.order(:city_name), :id, :city_name %>           
        </p>
        <p>
            <%= f.collection_select :category_id, Category.order(:name), :id, :name %>           
        </p>
            <p>
                <%= f.label :description %><br>
                <%= f.text_area :description %>
            </p>
            <p>
                <div class="form-group">
                    <%= f.label :datetime %><br />
                    <%= f.date_field :datetime, autofocus: true, autocomplete: "datetime" %>
                </div>           
            </p>
            <p>
                <%= f.submit "Mettre à jour" %><br>
            </p>
        <% end %>
    </div>
</end>
