<div class="form-control-lg text-center w-100">
    <div class="w-100 p-4" style="background-color: #eee;">
        <h2>Modifier votre anonce</h2>
    </div>

    <div class="w-100 p-4" style="background-color: #eee;">
        <%= form_for @post do |f| %>
            <p>
                <%= f.label :title %><br>
                <%= f.text_field :title %>
            </p>
            <p>
                <%= f.label :description %><br>
                <%= f.text_area :description %>
            </p>
            <p>
                <%= f.submit "Mettre à jour" %><br>
            </p>
        <% end %>
    </div>
</end>