<section class="p-0 height-700 parallax-bg" style="background-image: url(https://comhelp.s3.eu-west-3.amazonaws.com/comhelp/Bricolage/jardinage+1280.jpg)">
        <div class="container h-100">
            <div class="row justify-content-between align-items-center h-100">
                <div class="col-md-8 mb-7">
                    <h4 class="text-white"> Rapprochons nous et retrouvons nous !</h4>
                    <h1 class="display-4 font-weight-bold text-white">Comhelp</h1>
                </div>
            </div>
        </div>
</section>


<section class="py-4 bg-grad counter counter-small">
		<div class="container">
			<div class="row">
				<!-- count item -->
        <div class="col-md-3 col-6">
          <div class="counter-item text-center">
            <i class="fas fa-users fa-5x"></i>
            <h2 class="counter-item-digit" data-from="0" data-to="<%=User.all.length%>" data-speed="3000" data-refresh-interval="10"><%=User.all.length%></h2>
            <p class="counter-item-text">Nombre d'helper</p>
        </div>
      </div>
        
				<!-- count item -->
        <div class="col-md-3 col-6">
        <div class="counter-item text-center">
          <i class="fas fa-scroll fa-5x"></i>
          <h2 class="counter-item-digit" data-from="0" data-to="<%=Post.all.length%>" data-speed="3000" data-refresh-interval="10"><%=Post.all.length%></h2>
          <p class="counter-item-text">Nombre d'annonces</p>
        </div>
      </div>
        
				<!-- count item -->
				<div class="col-md-3 col-6">
        <div class="counter-item text-center">
          <i class="fas fa-hands-helping fa-5x"></i>
          <h2 class="counter-item-digit" data-from="0" data-to="<%=Participation.all.length%>" data-speed="3000" data-refresh-interval="10"><%=Participation.all.length%></h2>
          <p class="counter-item-text">Nombre de Coups de mains</p>
        </div>
      </div>

				<!-- count item -->
				<div class="col-md-3 col-6">
        <div class="counter-item text-center">
          <i class="fas fa-building fa-5x"></i>
          <h2 class="counter-item-digit" data-from="0" data-to="<%=City.all.length%>" data-speed="3000" data-refresh-interval="10"><%=City.all.length%></h2>
          <p class="counter-item-text">Nombre de villes </p>
        </div>
      </div>
			</div>
		</div>
</section>




<h1 class="display-4 text-center">
<span class="text-primary">Nos catégories</span>
</h1>

<div class="row">
  <%@category.each do |category|%>
      <div class="card mx-auto my-4 shadow" style="width: 20rem;">
					<div class="portfolio-card-body">
            <div class="portfolio-card-header">
                <%= link_to(image_tag(category.picture_url), category_path(category.id) )%>
            </div> 
            <%= link_to category.name, category_path(category.id)%>
          </div>
      </div>
  <%end%>
</div>


<div class="bg-grad border-radius-3 py-5 all-text-white">
<h2 class="alt-font p-2 p-sm-3 text-center">"Seuls, nous pouvons faire si peu ; ensemble, nous pouvons faire beaucoup" <span class="text-dark">Helen Keller</span></h2>
</div>

<h1 class="display-4 text-center">
<span class="text-primary">Nos dernières annonces</span>
</h1>

<div class="row">
  <%@post.each do |post|%>
    <div class="card mx-auto my-4 shadow" style="width: 25rem;">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="card mb-4 shadow-sm">
            <img class="card-img" src="<%=post.category.picture_url%>" alt="Card image cap">
            <div class="card-body">
                <span class="text-primary"><p class="card-text">Titre :<%= post.title %></p></span>
                <p class="card-text">Ville :<%= post.city.city_name %></p>
                <p class="card-text">Categorie :<%= post.category.name %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <% if user_signed_in? %>
                    <%= link_to "Participer", new_post_participation_path(post),  :class => "btn btn-primary" %>
                  <% else %>
                    <%= link_to "Participer", new_user_session_path,  :class => "btn btn-primary" %>
                  <%end%>
                    <%= link_to "voir plus", post_path(post.id),  :class => "btn btn-outline-primary" %>
                  </div>
                </div>
            </div>    
          </div>
        </div>
      </div>      
    </div>
  <%end%>
</div>

