<<<<<<< HEAD
<div class="form-control-lg text-center w-100">
    <div class="w-100 p-4" style="background-color: #eee;">
        <h2>Ecrire une nouvelle annonce</h2>
    </div>
    <div class="w-100 p-4 h-75" style="background-color: #eee;">
    <%= form_for @post do |form| %>
        <p>
            <%= form.label :titre %> <br>
            <%= form.text_field :title %>
        </p>
        <p>
            <%= form.label :ville %> <br>
            <%= form.text_field :city %>
        </p>
        <p>
            <form action="/posts" method ="post">
            <label for="Categories">Choisir une categorie:</label><br>
            <select id="category" name="category_name">
                <option value="Bricolage">Bricolage</option>
                <option value="Jardinage">Jardinage</option>
                <option value="Soutien scolaire">Soutien scolaire</option>
                <option value="Garde d'enfants">Garde d'enfants</option>
                <option value="Informatique/Bureautique">Informatique/Bureautique</option>
                <option value="Animaux">Animaux</option>
                <option value="Service à la personne">Service à la personne</option>
                <option value="Dons de matériel">Dons de matériel</option>
                <option value="Administratif">Administratif</option>
            </select>
            
        </p>
        <p>
            <%= form.label :description %> <br>
            <%= form.text_area :description %>
        </p>
        <p>
        <div class="form-group">
            <%= form.label :datetime %><br />
            <%= form.date_field :datetime, autofocus: true, autocomplete: "datetime" %>
        </div>           
        </p>
        <p>
            <%= form.submit "Poster" %>
        </p>

    <% end %>

        
</form>
    </div>
</div>
=======
    <div class="form-control-lg text-center w-100">
        <div class ="card border-primary mx-auto w-50">
            <div class= "d-flex flex-column">
                <div class="w-100 p-4 h-75" style="background-color: #eee;">
                    <h2>Ecrire une nouvelle annonce</h2>
                    <div class="form mx-auto">
                        <%= form_for @post do |form| %>
                            <div class="field mb-3">
                                <%= form.label :titre %> 
                                <%= form.text_field :title %>
                            </div>
                            <div class="field">
                                <%= form.label :Ville %>
                                <%= form.collection_select :city_id, City.order(:city_name), :id, :city_name %>
                            </div>
                            <div class="field">
                                <%= form.label :Categorie %>
                                <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
                            </div>
                            <div class="field">
                                <%= form.label :description %>
                                <%= form.text_area :description %>
                            </div>
                            <div class="form-group mb-3">
                                <%= form.label :datetime %> 
                                <%= form.date_field :datetime, autofocus: true, autocomplete: "datetime" %>
                            </div>                                 
                            <div class="actions ml-4 mt-4">
                                <%= form.submit "Poster", :class => "btn btn-primary"%>
                            </div>
                        <% end %>
                    </div>
                </div> 
            </div>
        </div>
    </form>
</section>
>>>>>>> develop
