<div class="form-control-lg">
    <div>
        <h2>Ecrire une nouvelle annonce</h1>
    </div>
    <div>
    <%= form_for @post do |form| %>
        <p>
            <%= form.label :title %> <br>
            <%= form.text_field :title %>
        </p>
        <p>
            <%= form.label :description %> <br>
            <%= form.text_area :description %>
        </p>
        <p>
            <%= form.submit "Poster" %>
        </p>
        <% end %>
    </div>
</div>
