<div class="form-control-lg d-flex align-items-center container w-100"  style="background-color: #eee">    
    <div class=" p-4 h-75 w-50 align-items-center container text-center">
        <div class="p-4 ">
            <h2>Ecrire une nouvelle annonce</h2>
        </div>
        <%= form_for @post do |form| %>
        <p class="text-dark">
            <%= form.label :titre%>
        </p> 
        <div class="form-group"> 
            <%= form.text_field :title, class:'form-control' %>
        </div>        
        <p class="text-dark">
            <%= form.label :ville %>
        </p> 
        <div class="form-group"> 
            <%= form.text_field :city, class: 'form-control' %>
        </div>       
        <p>
            <form action="/posts" methode ="post">
            <label for="Categories" class="text-dark">Choisir une categorie:</label><br>
            <select id="category" name="category_name">
                <option value="Bricolage">Bricolage</option>
                <option value="Jardinage">Jardinage</option>
                <option value="Soutien scolaire">Soutien scolaire</option>
                <option value="Garde d'enfants">Garde d'enfants</option>
                <option value="Informatique/Bureautique">Informatique/Bureautique</option>
                <option value="Animaux">Animaux</option>
                <option value="Service à la personne">Service à la personne</option>
                <option value="Dons de matériel">Dons de matériel</option>
                <option value="Administratif">Administratif</option>
            </select>           
        </p>
        <p class="text-dark">
            <%= form.label :description %>
        </p> 
        <div class="form-group"> 
            <%= form.text_area :description, class: 'textarea form-control row:10' %>
        </div>       
        <p class="text-dark">
            <%= form.label :datetime %>
        </p>
        <div class="form-group">
            <%= form.date_field :datetime, autofocus: true, autocomplete: "datetime" %>
        </div>           
        <p>
            <%= form.submit "Poster", class:"button is-info btn btn-primary" %>
        </p>
        <% end %>
    </div>
</div>
