<div class="form-control-lg text-center w-100">
    <div class="w-100 p-4" style="background-color: #eee;">
        <h2>Ecrire une nouvelle annonce</h2>
    </div>
    <div class="w-100 p-4 h-75" style="background-color: #eee;">
    <%= form_for @post do |form| %>
        <p>
            <%= form.label :title %> <br>
            <%= form.text_field :title %>
        </p>
        <p>
            <%= form.label :description %> <br>
            <%= form.text_area :description %>
        </p>
        <p>
            <%= form.submit "Poster" %>
        </p>
        <% end %>
    </div>
</div>
