<body>

	<!-- =======================
	Banner innerpage -->
	<div class="left bg-grad pattern-overlay-4">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="font-weight-bold display-4 display-md-1 mb-2 mb-md-n4 mt-9"><%=@post.category.name%></h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<!-- =======================
	About us -->
	<section>
		<div class="container h-100">
			<div class="row">
				<div class="col-md-12 col-lg-6 align-self-center ">
					<div class="title text-left">
						<h2><span class="text-primary"> <%=@post.title%> </span></h2>
						<p class="mb-0">Description : <%=@post.description%> </p>
						<div class="list-group-inline list-group-number list-unstyled mt-4">
						 <p> Paticipant(s):</p>
							<%@participation.each do |participation|%>
								<p> 
									<%= link_to "#{participation.user.first_name}", user_path(participation.id) %>	
								</p>
							<%end%>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-lg-6 mx-md-auto align-self-center ">
					<img class="card-img" src="<%=@post.category.picture_url%>">
				<div class="position-absolute left-0 bottom-0 ml-4 ml-md-n2 mb-3">
					</div>
				</div>
			</div>
			
	</section>
	<!-- =======================
</body>
