<h1>Page de modification/suppression de l'utilisateur <%=@user.id%></h1>
<h3>Données persos :</h3>

<%= form_for ([:admin, @user]), url: admin_user_path(@user.id), :method => :patch do |f| %>
  <ul>
    <li>Prénom: <%= f.text_field :first_name %> </li>
    <li>Nom : <%= f.text_field :last_name %></li>
    <li>Adresse e-mail : <%= f.text_field :email %></li>
    <li>Admin?    : <%= f.check_box :is_admin %></li>
    <%= f.submit %>
  </ul>
<% end %>

