
<footer class="footer bg-light" >
       <div class="divider " ></div>
       <!--footer copyright -->
       <div class="footer-copyright pb-3" >
           <div class="container" >
               <div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left" >
                   <!-- copyright text -->
                   <div class="copyright-text" >©2020 All Rights Reserved by  <%= link_to  "TeamComHelp", team_index_path %> </div>
                   <!-- copyright links-->
                   <div class="copyright-links primary-hover mt-3 mt-md-0" >
                       <ul class="list-inline" >

  					             <%=link_to "Accueil", root_path %>
  					             <%= link_to "Contact", "#", :class => "list-group-item-action"%>
                                    <%= link_to "À propos",team_index_path, :class => "list-group-item-action"%>
                                    <br />

                                    <%= link_to "https://www.instagram.com/?hl=fr/", target: :_blank do %>
                                        <i class="fab fa-instagram", :class=>"list-inline-item pl-2"></i>
                                    <% end %>
                                    <%= link_to "https://www.facebook.com/", target: :_blank do %>
                                        <i class="fab fa-facebook"></i>
                                    <% end %>
                                    <%= link_to "https://twitter.com/", target: :_blank do %>
                                        <i class="fab fa-twitter"></i>
                                    <% end %>
                                    <li><%= link_to "Politique de confidentialité", "#", :class => "list-group-item-action pr-0" %></li>
  					         		<li><%= link_to "CGU", "#", :class => "list-group-item-action pr-0" %></li>

                       </ul>
                   </div>

               </div>
           </div>
       </div>
   </footer>
